# Optional: default true, If enabled, we'll proxy the SWAPI api with a local cache in Next.js:
NEXT_PUBLIC_USE_SERVER_CACHE=true
# Optional: default true, If enabled, we'll use a localStorage cache:
NEXT_PUBLIC_USE_LOCAL_CACHE=true

# If NEXT_PUBLIC_USE_SERVER_CACHE is not false, this sets the rate limiting to not overload SWAPI:
MAX_REQUESTS_PER_SECOND=3
RATE_LIMIT_WINDOW_MS=1000